body {
    color: #000000;
    background-color: #f0e5e5;
    /* font-family: Georgia, "Times New Roman", serif; */
    margin: 0 10%;
}

main {
    /* max-width: 640px; */
    /* margin: 40px 10%; */
    /* padding: 0 20px; */
    background-image: url('lake-merced-scanned-gb1.png');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    /* background-color: rgba(255, 255, 255, 0.92); */
}

.content {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    /* Adjust 0.92 to control transparency */
    /* Keep existing styles */
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    /* margin: -40px -10% 20px -10%; */
}

.nav-links {
    display: inline-flex;
    gap: 12px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-top: 30px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 12px 0;
}

.cta {
    margin-top: 30px;
    font-size: 18px;
}

.address {
    margin-left: 20px;
    font-family: monospace;
}